services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://ebupt.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ebupt.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ebupt.com">
            <xs:element name="kkndIn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="kkndInRequest">
        <wsdl:part name="parameters" element="xsd:kkndIn"/>
    </wsdl:message>
    <wsdl:message name="kkndOutRequest"/>
    <wsdl:portType name="kkndServicePortType">
        <wsdl:operation name="kkndIn">
            <wsdl:input message="xsd:kkndInRequest" wsaw:Action="urn:kkndIn"/>
        </wsdl:operation>
        <wsdl:operation name="kkndOut">
            <wsdl:input message="xsd:kkndOutRequest" wsaw:Action="urn:kkndOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="kkndServiceSoap11Binding" type="xsd:kkndServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="kkndIn">
            <soap:operation soapAction="urn:kkndIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="kkndOut">
            <soap:operation soapAction="urn:kkndOut" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="kkndServiceSoap12Binding" type="xsd:kkndServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="kkndIn">
            <soap12:operation soapAction="urn:kkndIn" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="kkndOut">
            <soap12:operation soapAction="urn:kkndOut" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="kkndServiceHttpBinding" type="xsd:kkndServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="kkndIn">
            <http:operation location="kkndService/kkndIn"/>
            <wsdl:input>
                <mime:content type="text/xml" part="kkndIn"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="kkndOut">
            <http:operation location="kkndService/kkndOut"/>
            <wsdl:input>
                <mime:content type="text/xml" part="kkndOut"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="kkndService">
        <wsdl:port name="kkndServiceHttpSoap11Endpoint" binding="xsd:kkndServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/kkndService"/>
        </wsdl:port>
        <wsdl:port name="kkndServiceHttpSoap12Endpoint" binding="xsd:kkndServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/kkndService"/>
        </wsdl:port>
        <wsdl:port name="kkndServiceHttpEndpoint" binding="xsd:kkndServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/kkndService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
